#shellcheck disable=SC2148,SC2155

use_sops() {
  local path=${1:-$PWD/secrets.yaml}
  eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
  watch_file "$path"
}

export RUST_LOG="TRACE"
export RENOVATE_AUTODISCOVER="true"
export RENOVATE_AUTODISCOVER_FILTER="szinn/hex-play"

use_sops config.sops.env
